## Assignment 2 - Solutions
##### Submitted By : Anit Gupta
##### Email ID : agupta33@student.gsu.edu

### Question 1 : From the Users.xml file, find all users which are from Georgia and output to screen their DisplayName only. (20 points)

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

#Creating Spark Session 
spark = SparkSession.builder.master("local[*]").appName("Learning_Spark").getOrCreate()
sc = spark.sparkContext

#Reading Users.xml
Users = sc.textFile('Users.xml');

* Here method read_value_from_xml() is used for parsing the values form xml file and it maps it into the RDD.
* It uses Regular Expression that returns any value that comes after that tag passed along with the function call.

In [2]:
import re;
def read_value_from_xml(Input, tag, cast_type=str):
    patre = r'{col}="([^"]*)"'
    pat = patre.format(col=tag)
    result = re.search(pat, Input)
    return cast_type(result[1]) if result is not None else None

* In the below cell we are checking all the location with GA/Georgia in all the cases
* We have ensure the use of "in" operator instead of "=" to get all the results such as ( Athens, GA)

Output is like :
['Tony Boyles',
 'pkerl',
 'Nick Larsen',
 ...
  'Tiji Mathew',
 'user3776637'
 ]

In [3]:
#to make sure we are only dealing with rows
onlyRows = Users.filter(lambda line: line.find('<row') >= 0)

#Method to fetch and filter the RDD for Users in Georgia.
def checkGeorgia(lst):
  location=read_value_from_xml(lst,'Location')
  name=read_value_from_xml(lst,'DisplayName')
  y= lambda a: name if(location!=None and location!="" and ("GA" in str(location) or "GEORGIA" in str(location).upper())) else None
  return y(name)

#mapping only those values which have "Georgia/GA/georgia/ga"
finalNameList = onlyRows.map(lambda line :checkGeorgia(line)).filter(lambda x: x is not None)

finalNameList.collect()

['Tony Boyles',
 'pkerl',
 'Nick Larsen',
 'gfritz',
 'Aleksandr Blekh',
 'Michael',
 'Ayush',
 'azoorob',
 'ontek',
 'Aravind R. Yarram',
 'ilya',
 'vkb',
 'Daisuke Aramaki',
 'tempusfugit',
 'Henry Crutcher',
 'Goddard',
 'Matt Simpson',
 'Peter Woolfitt',
 'Giorgi Gzirishvili',
 'matt biskup',
 'Jason W',
 'Peter Mourfield',
 'Magsol',
 'Bob Baxley',
 'Alex Azazel',
 'badjr',
 'mplunney',
 'YC Hu',
 'ryan',
 'Patrick Gerbes',
 'Ilya Lapitan',
 'Dan Anton',
 'pradyumnad',
 'Manish Ranjan',
 'Dato Janez',
 'Psidom',
 'Teresa Madsen',
 'Neuromeda',
 'Brandon',
 'jpm',
 'Mr. Rooter of Savannah',
 'Mr. Rooter of Southeast GA',
 'Abesalomi Gogatishvili',
 'Khiem Ha',
 'Jenna Kwon',
 'Tedo G.',
 'mlibre',
 'Ahmet Cecen',
 'Jeff',
 'Guy Gordon',
 'C3Theo',
 'niru dyogi',
 'Vinitha Palani',
 'Mac18',
 'Andrew',
 'Aditya Gogoi',
 'turtlemonvh',
 'Lewis Rodgers',
 'Tarun Luthra',
 'Jesse Scherer',
 'Devendra Lattu',
 'cosmosa',
 'Todd Dawson',
 'ironv',
 'Mboolean',
 'Jimd',
 'Melinda Weathers',
 'N.C.W.',
 'David F',
 'PSInf',
 'Chirag',
 'Sandeep Gunda',
 'hellofanengineer',
 'Will Gao',
 'Oriol Mirosa',
 'Andrew King',
 'David',
 'rajb245',
 'Sealander',
 'afshin',
 'Ashish Powani',
 'Boris N.',
 'Atul Kaushik',
 'Harnoor Singh',
 'Vincent',
 'Tiago Cogumbreiro',
 'cbarrick',
 'Len Greski',
 'red_eight',
 'PEBKAC',
 'Christoph',
 'G.T.',
 'Bryce',
 'David Hofmann',
 'nburn42',
 'donlan',
 'Nick M',
 'Kiran',
 'BarclayK',
 'Dato Gogolashvili',
 'Zer0k',
 'dportman',
 'Shishir Suman',
 'Scott',
 'JessicaRabi',
 'Baxter',
 'Rama Ananda',
 'Dr. Strange',
 'Shahan M',
 'wgreenihrcorp',
 'zongyan',
 'David Jashi',
 'Alexandre',
 'rams',
 'Ilia Chigogidze',
 'John Barbour',
 'The_Flin',
 'DaulPavid',
 'Amandeep Jiddewar',
 'Erica Rosa',
 'user1410665',
 'empoleon',
 'Willie-G',
 'Deepak Shenoy',
 'Ragnar Lothbrok',
 'Deontaé Le Pew',
 'Doctorambient',
 'Vidya',
 'Vatsal Srivastava',
 'Dean Webb',
 'Tae-Sung Shin',
 'Sam Washburn',
 'Loisaida Sam Sandberg',
 'wayne green',
 'gnorman',
 'Clark Lin',
 'Floydian',
 'Meng Zhao',
 'Manikanta Reddy D',
 'devarsh raghnathbhai patel',
 'Myron Slaw',
 'rmooney',
 'Gio Nari',
 'mike_stevs',
 'Gary Lai',
 'ajroot',
 'Daniel',
 'phos',
 'Lance Ruo Zhang',
 'Spencer-Price',
 'Stephen Ewing',
 'alerera',
 'addi wei',
 'Alex V',
 'Rob',
 'Rajan',
 'Ram',
 'jGaboardi',
 'Max Boonbandansook',
 'zachdj',
 'David Zhou',
 'ps0604',
 'treysp',
 'Eduardo Trunci',
 'Squ1rr3lz',
 'Tiji Mathew',
 'user3776637']

### Question 2 :Using the Users.xml file, provide the count for all users which joined (CreationDate) in 2017. (30 points). Output this to the screen.

* Here we are couting every date which has 2017 in the file.
* output is : 14239 people who joined in year 2017

In [4]:
#Using a function to read the xml and get all the dates which are in 2017
def checkCreadtionDate(lst):
  date=read_value_from_xml(lst,'CreationDate')
  y= lambda a: date if ("2017" in date and date!="") else None
  return y(date)

#Data Preprocessing 
interestedDatesOnly = onlyRows.map(lambda line :checkCreadtionDate(line)).filter(lambda x: x is not None )

print("The count for all users which joined (CreationDate) in 2017 are below : ")
interestedDatesOnly.count()

The count for all users which joined (CreationDate) in 2017 are below :

14239

### Question 3 : Using the PostHistory file, count the number of Posts that feature the words “Spark” and “Scala”. Output this to the screen. (20 points)

* We now read file PostHistory to work further.
* We count all the posts which have both SCALA and SPARK in them in all the cases.

The out put will be 211 posts that have both spark and scala

In [5]:
#Reading the PostHistory file and filtering out all the "non row values" from the XML"
PHFile = sc.textFile('PostHistory.xml');
PHFileData = PHFile.filter(lambda line: line.find('<row') >= 0)

In [6]:
#Using function to read the XML and get all the texts and then returing only those texts which have "Spark and Scala" in it 
def checkScalaSparkPosts(Data):
  Data=read_value_from_xml(Data,'Text')
  y= lambda a: True if (("SCALA" in str(Data).upper() and Data!="") and ("SPARK" in str(Data).upper() and Data!="")) else None
  return y(Data)

#Using function to read the XML and get all the texts and then returing only those texts which have "Spark and Scala" 
#in any case.

PostCount = PHFileData.map(lambda line :checkScalaSparkPosts(line)).filter(lambda x: x is not None )

print("Number of posts that contain word SCALA and SPARK in it are: ")
PostCount.count()

Number of posts that contain word SCALA and SPARK in it are:

211

### Question 4: Using the PostHistory file, provide a total count of the words used by each distinct user. In other words, count all words in all posts for each user and display this to screen. You can only identify users by the UserID (30 points). You get 15 bonus points if you get the actual DisplayName of the user.

Here we tweak our function a little bit and return 0 to make our calculations easy

In [7]:
import re;
def read_value_from_xml_ret0(Input, tag, cast_type=str):
    patre = r'{col}="([^"]*)"'
    pat = patre.format(col=tag)
    result = re.search(pat, Input)
    return cast_type(result[1]) if result is not None else 0

In [8]:
#FINAL ANSWER 4
from collections import Counter
from operator import add

#reading both the files
Users = sc.textFile('Users.xml');
PHFile = sc.textFile('PostHistory.xml');

#Filtering only row data from both the files.
Users = Users.filter(lambda line: line.find('<row') >= 0)
PHFileData = PHFile.filter(lambda line: line.find('<row') >= 0)

#Getting DisplayName and the UserID from the XML
DispNameRDD=Users.map(lambda a: ((read_value_from_xml(a,"Id"),(str(read_value_from_xml(a,"DisplayName"))))))

#Getting all the Text values for all the users. then splitting it into words and the counting them.
UserTextRDD=PHFileData.map(lambda a: ((read_value_from_xml_ret0(a,"UserId"),len(str(read_value_from_xml_ret0(a,"Text")).split()))))

#combining all the tuples on the basis of the user to find the total words written by each user.
UserTextCountRDD=UserTextRDD.reduceByKey(add)

#joining the display name with the UserID
allRDD=DispNameRDD.join(UserTextCountRDD)
   
#Formatting  the RDD so that it can be readble now
ReadableDataRDD=allRDD.map(lambda vie:(("Name: "+str((vie[1])[0])),"UserID: "+str(vie[0]),"Word Count: "+str((vie[1])[1])))

#printitng the RDD
ReadableDataRDD.collect()

[('Name: Doorknob', 'UserID: 5', 'Word Count: 96'),
 ('Name: Robert Cartaino', 'UserID: 50', 'Word Count: 6'),
 ('Name: Shog9', 'UserID: 61', 'Word Count: 460'),
 ('Name: Igor Bobriakov', 'UserID: 88', 'Word Count: 361'),
 ('Name: EdChum', 'UserID: 95', 'Word Count: 1186'),
 ('Name: Johnny000', 'UserID: 115', 'Word Count: 2264'),
 ('Name: Konstantin V. Salikhov', 'UserID: 118', 'Word Count: 717'),
 ('Name: Rhand', 'UserID: 127', 'Word Count: 186'),
 ('Name: joker', 'UserID: 131', 'Word Count: 320'),
 ('Name: DVK', 'UserID: 132', 'Word Count: 840'),
 ('Name: akellyirl', 'UserID: 136', 'Word Count: 258'),
 ('Name: Marco13', 'UserID: 156', 'Word Count: 3040'),
 ('Name: Wojciech Walczak', 'UserID: 173', 'Word Count: 3212'),
 ('Name: samthebrand', 'UserID: 177', 'Word Count: 186'),
 ('Name: Filipe Ferminiano', 'UserID: 199', 'Word Count: 308'),
 ('Name: Tahir Akhtar', 'UserID: 200', 'Word Count: 205'),
 ('Name: sushant-hiray', 'UserID: 226', 'Word Count: 183'),
 ('Name: organic agave', 'UserID: 236', 'Word Count: 43'),
 ('Name: tchakravarty', 'UserID: 241', 'Word Count: 206'),
 ('Name: Therriault', 'UserID: 250', 'Word Count: 1706'),
 ('Name: germcd', 'UserID: 325', 'Word Count: 763'),
 ('Name: Jeromy Anglim', 'UserID: 368', 'Word Count: 426'),
 ('Name: gallamine', 'UserID: 403', 'Word Count: 889'),
 ('Name: tomaskazemekas', 'UserID: 454', 'Word Count: 1153'),
 ('Name: erogol', 'UserID: 464', 'Word Count: 265'),
 ('Name: Spacedman', 'UserID: 471', 'Word Count: 9982'),
 ('Name: user490', 'UserID: 490', 'Word Count: 38'),
 ('Name: Brown_Dynamite', 'UserID: 496', 'Word Count: 299'),
 ('Name: trienism', 'UserID: 534', 'Word Count: 473'),
 ('Name: tilo.wiklund', 'UserID: 536', 'Word Count: 81'),
 ('Name: lsdr', 'UserID: 553', 'Word Count: 355'),
 ('Name: Will Cairns', 'UserID: 655', 'Word Count: 72'),
 ('Name: Anton', 'UserID: 663', 'Word Count: 246'),
 ('Name: Jeremy Salfen', 'UserID: 686', 'Word Count: 63'),
 ('Name: glhuilli', 'UserID: 712', 'Word Count: 1170'),
 ('Name: smrati katiyar', 'UserID: 713', 'Word Count: 76'),
 ('Name: user721', 'UserID: 721', 'Word Count: 64'),
 ('Name: Jack Twain', 'UserID: 728', 'Word Count: 345'),
 ('Name: Patlaf', 'UserID: 737', 'Word Count: 128'),
 ('Name: lgylym', 'UserID: 743', 'Word Count: 248'),
 ('Name: 0111001101110000', 'UserID: 776', 'Word Count: 286'),
 ('Name: Kim', 'UserID: 801', 'Word Count: 73'),
 ('Name: Charlie Greenbacker', 'UserID: 819', 'Word Count: 2891'),
 ('Name: woodstock', 'UserID: 848', 'Word Count: 120'),
 ('Name: ArunDhaJ', 'UserID: 870', 'Word Count: 356'),
 ('Name: chrshmmmr', 'UserID: 913', 'Word Count: 172'),
 ('Name: ende', 'UserID: 916', 'Word Count: 66'),
 ('Name: joews', 'UserID: 922', 'Word Count: 192'),
 ('Name: Anony-Mousse', 'UserID: 924', 'Word Count: 36509'),
 ('Name: David', 'UserID: 947', 'Word Count: 2093'),
 ('Name: Abdelmawla', 'UserID: 960', 'Word Count: 187'),
 ('Name: Debasis', 'UserID: 984', 'Word Count: 3057'),
 ('Name: acmyers', 'UserID: 985', 'Word Count: 209'),
 ('Name: The Wanderer', 'UserID: 995', 'Word Count: 90'),
 ('Name: Divya', 'UserID: 1015', 'Word Count: 348'),
 ('Name: Nischal Hp', 'UserID: 1029', 'Word Count: 4637'),
 ('Name: Kevin H. Lin', 'UserID: 1037', 'Word Count: 130'),
 ('Name: mlespiau', 'UserID: 1057', 'Word Count: 338'),
 ('Name: d8aninja', 'UserID: 1103', 'Word Count: 102'),
 ('Name: Ricky', 'UserID: 1133', 'Word Count: 871'),
 ('Name: Frost', 'UserID: 1147', 'Word Count: 278'),
 ('Name: McGovernTheory', 'UserID: 1208', 'Word Count: 55'),
 ('Name: Islam El Hosary', 'UserID: 1220', 'Word Count: 69'),
 ('Name: user3782364', 'UserID: 1235', 'Word Count: 262'),
 ('Name: StasK', 'UserID: 1237', 'Word Count: 630'),
 ('Name: Maxim Fridental', 'UserID: 1271', 'Word Count: 126'),
 ('Name: user1158559', 'UserID: 1283', 'Word Count: 410'),
 ('Name: user1769197', 'UserID: 1315', 'Word Count: 1155'),
 ('Name: breezeintopl', 'UserID: 1324', 'Word Count: 83'),
 ('Name: merritts', 'UserID: 1329', 'Word Count: 170'),
 ('Name: soandos', 'UserID: 1334', 'Word Count: 84'),
 ('Name: Rainfield', 'UserID: 1376', 'Word Count: 160'),
 ('Name: alexT', 'UserID: 1386', 'Word Count: 415'),
 ('Name: Dan', 'UserID: 2532', 'Word Count: 130'),
 ('Name: denpost', 'UserID: 2574', 'Word Count: 611'),
 ('Name: Stenemo', 'UserID: 2583', 'Word Count: 43'),
 ('Name: Andrew Brēza', 'UserID: 2584', 'Word Count: 34'),
 ('Name: Dave Kay', 'UserID: 2599', 'Word Count: 152'),
 ('Name: Minu', 'UserID: 2647', 'Word Count: 2498'),
 ('Name: royalstream', 'UserID: 2648', 'Word Count: 135'),
 ('Name: Jeff King', 'UserID: 2702', 'Word Count: 423'),
 ('Name: xtian', 'UserID: 2742', 'Word Count: 217'),
 ('Name: Jamie', 'UserID: 2781', 'Word Count: 2319'),
 ('Name: GleissonGraca', 'UserID: 2798', 'Word Count: 73'),
 ('Name: sparc_spread', 'UserID: 2862', 'Word Count: 116'),
 ('Name: won782', 'UserID: 2869', 'Word Count: 378'),
 ('Name: brycemcd', 'UserID: 2883', 'Word Count: 465'),
 ('Name: KOM', 'UserID: 2923', 'Word Count: 61'),
 ('Name: mynameisJEFF', 'UserID: 2972', 'Word Count: 174'),
 ('Name: deong', 'UserID: 2975', 'Word Count: 975'),
 ('Name: Biswajit Banerjee', 'UserID: 2981', 'Word Count: 273'),
 ('Name: Jaidev Deshpande', 'UserID: 2987', 'Word Count: 60'),
 ('Name: Jessica Mick', 'UserID: 2997', 'Word Count: 288'),
 ('Name: user1913171', 'UserID: 3030', 'Word Count: 119'),
 ('Name: Seraphina', 'UserID: 3058', 'Word Count: 79'),
 ('Name: Rodrigo Stv', 'UserID: 3068', 'Word Count: 302'),
 ('Name: user3097', 'UserID: 3097', 'Word Count: 49'),
 ('Name: Joy', 'UserID: 3101', 'Word Count: 253'),
 ('Name: peterh', 'UserID: 3117', 'Word Count: 488'),
 ('Name: papacostas', 'UserID: 3203', 'Word Count: 95'),
 ('Name: Grzegorz E.', 'UserID: 3215', 'Word Count: 105'),
 ('Name: jpcgandre', 'UserID: 3216', 'Word Count: 377'),
 ('Name: Aravind R. Yarram', 'UserID: 3245', 'Word Count: 67'),
 ('Name: Harjeet Kumar', 'UserID: 3259', 'Word Count: 25'),
 ('Name: Paul K', 'UserID: 3283', 'Word Count: 343'),
 ('Name: charles', 'UserID: 3294', 'Word Count: 109'),
 ('Name: SnShines', 'UserID: 3299', 'Word Count: 346'),
 ('Name: kusur', 'UserID: 3327', 'Word Count: 152'),
 ('Name: Scortchi', 'UserID: 3361', 'Word Count: 230'),
 ('Name: hnadiger', 'UserID: 3390', 'Word Count: 39'),
 ('Name: eri0o', 'UserID: 3400', 'Word Count: 239'),
 ('Name: Gyan Veda', 'UserID: 3412', 'Word Count: 44'),
 ('Name: innovIsmail', 'UserID: 3433', 'Word Count: 149'),
 ('Name: user1269942', 'UserID: 3457', 'Word Count: 678'),
 ('Name: Chris Bushell', 'UserID: 3459', 'Word Count: 93'),
 ('Name: SAEED', 'UserID: 3473', 'Word Count: 44'),
 ('Name: Xuan Dung', 'UserID: 3503', 'Word Count: 1328'),
 ('Name: David Fort Myers', 'UserID: 3504', 'Word Count: 1684'),
 ('Name: rbk', 'UserID: 3506', 'Word Count: 232'),
 ('Name: David Pepper', 'UserID: 3510', 'Word Count: 483'),
 ('Name: Yerk', 'UserID: 3513', 'Word Count: 158'),
 ('Name: Brannon', 'UserID: 3539', 'Word Count: 114'),
 ('Name: p.j', 'UserID: 3570', 'Word Count: 223'),
 ('Name: Mieszko', 'UserID: 3586', 'Word Count: 7'),
 ('Name: Harrison Brock', 'UserID: 3588', 'Word Count: 54'),
 ('Name: Amir', 'UserID: 3592', 'Word Count: 206'),
 ('Name: user3352632', 'UserID: 3615', 'Word Count: 653'),
 ('Name: user3634601', 'UserID: 4619', 'Word Count: 970'),
 ('Name: prudenko', 'UserID: 4679', 'Word Count: 212'),
 ('Name: i5Vemula', 'UserID: 4711', 'Word Count: 118'),
 ('Name: John', 'UserID: 4736', 'Word Count: 145'),
 ('Name: WhiskeyGolf', 'UserID: 4779', 'Word Count: 40'),
 ('Name: angleto', 'UserID: 4784', 'Word Count: 60'),
 ('Name: Shamy', 'UserID: 4794', 'Word Count: 134'),
 ('Name: dmvianna', 'UserID: 4815', 'Word Count: 78'),
 ('Name: denton101', 'UserID: 4824', 'Word Count: 177'),
 ('Name: goh', 'UserID: 4841', 'Word Count: 86'),
 ('Name: Dumka', 'UserID: 4842', 'Word Count: 59'),
 ('Name: aa51', 'UserID: 4859', 'Word Count: 122'),
 ('Name: Dan Ahlquist', 'UserID: 4999', 'Word Count: 134'),
 ('Name: batgirl', 'UserID: 5021', 'Word Count: 726'),
 ('Name: sewardth', 'UserID: 5022', 'Word Count: 99'),
 ('Name: k6adams', 'UserID: 5023', 'Word Count: 146'),
 ('Name: Juanito', 'UserID: 5044', 'Word Count: 828'),
 ('Name: Ankit Haldar', 'UserID: 5075', 'Word Count: 207'),
 ('Name: Paul', 'UserID: 5084', 'Word Count: 24'),
 ('Name: Vincent Benedict Victor', 'UserID: 5110', 'Word Count: 218'),
 ('Name: Hobbes', 'UserID: 5113', 'Word Count: 311'),
 ('Name: JC R', 'UserID: 5165', 'Word Count: 308'),
 ('Name: shihpeng', 'UserID: 5184', 'Word Count: 545'),
 ('Name: eulerleibniz', 'UserID: 5200', 'Word Count: 543'),
 ('Name: ASX', 'UserID: 5203', 'Word Count: 253'),
 ('Name: Bas', 'UserID: 5220', 'Word Count: 97'),
 ('Name: Marcin Kosiński', 'UserID: 5224', 'Word Count: 763'),
 ('Name: cbeleites', 'UserID: 5268', 'Word Count: 4729'),
 ('Name: Tris Nefzger', 'UserID: 5280', 'Word Count: 390'),
 ('Name: rbaleksandar', 'UserID: 5356', 'Word Count: 572'),
 ('Name: preems', 'UserID: 6412', 'Word Count: 35'),
 ('Name: matsair', 'UserID: 6451', 'Word Count: 83'),
 ('Name: elexhobby', 'UserID: 6488', 'Word Count: 144'),
 ('Name: Andrea Bontrager Yoder', 'UserID: 6491', 'Word Count: 359'),
 ('Name: Shahriar Dadgar', 'UserID: 6496', 'Word Count: 1057'),
 ('Name: Sagar Patel', 'UserID: 6523', 'Word Count: 346'),
 ('Name: zen', 'UserID: 6536', 'Word Count: 34'),
 ('Name: Daniel', 'UserID: 6559', 'Word Count: 736'),
 ('Name: lotyrin', 'UserID: 6585', 'Word Count: 144'),
 ('Name: adamc91', 'UserID: 6586', 'Word Count: 103'),
 ('Name: Anchika Agarwal', 'UserID: 6598', 'Word Count: 463'),
 ('Name: user3256725', 'UserID: 6636', 'Word Count: 423'),
 ('Name: Eilia', 'UserID: 6641', 'Word Count: 53'),
 ('Name: Knows Not Much', 'UserID: 6644', 'Word Count: 463'),
 ('Name: gchaks', 'UserID: 6648', 'Word Count: 1362'),
 ('Name: habedi', 'UserID: 6656', 'Word Count: 46'),
 ('Name: cakesofwrath', 'UserID: 6660', 'Word Count: 52'),
 ('Name: Deepraj Kunnath', 'UserID: 6682', 'Word Count: 260'),
 ('Name: user3142384', 'UserID: 7702', 'Word Count: 143'),
 ('Name: vijay bhaskar', 'UserID: 7707', 'Word Count: 76'),
 ('Name: CodeMonkey13', 'UserID: 7719', 'Word Count: 160'),
 ('Name: Max Gibiansky', 'UserID: 7786', 'Word Count: 1526'),
 ('Name: 0012', 'UserID: 7829', 'Word Count: 39'),
 ('Name: Vladislavs Dovgalecs', 'UserID: 7848', 'Word Count: 2486'),
 ('Name: DaveRGP', 'UserID: 7916', 'Word Count: 507'),
 ('Name: Emre Sevinç', 'UserID: 7919', 'Word Count: 244'),
 ('Name: girl101', 'UserID: 8013', 'Word Count: 7035'),
 ('Name: Philip Pearl', 'UserID: 8030', 'Word Count: 685'),
 ('Name: StrikeR', 'UserID: 8059', 'Word Count: 230'),
 ('Name: Chong Zheng', 'UserID: 8073', 'Word Count: 70'),
 ('Name: cgperal', 'UserID: 8076', 'Word Count: 140'),
 ('Name: dvdnglnd', 'UserID: 8085', 'Word Count: 628'),
 ('Name: user17241', 'UserID: 8088', 'Word Count: 840'),
 ('Name: Nicole', 'UserID: 8123', 'Word Count: 56'),
 ('Name: lennyklb', 'UserID: 8152', 'Word Count: 2608'),
 ('Name: ee2Dev', 'UserID: 8191', 'Word Count: 2237'),
 ('Name: Yohan Chung', 'UserID: 8208', 'Word Count: 122'),
 ('Name: user8218', 'UserID: 8218', 'Word Count: 181'),
 ('Name: zbinsd', 'UserID: 8262', 'Word Count: 18'),
 ('Name: eflores89', 'UserID: 8296', 'Word Count: 90'),
 ('Name: Ferenc Huszár', 'UserID: 8376', 'Word Count: 235'),
 ('Name: apSTRK', 'UserID: 8381', 'Word Count: 197'),
 ('Name: mcg256', 'UserID: 8392', 'Word Count: 181'),
 ('Name: Ankit Jaiswal', 'UserID: 8412', 'Word Count: 278'),
 ('Name: victor', 'UserID: 8462', 'Word Count: 1388'),
 ('Name: David Arenburg', 'UserID: 8479', 'Word Count: 144'),
 ('Name: smci', 'UserID: 8501', 'Word Count: 4219'),
 ('Name: Piyush Panigrahi', 'UserID: 8526', 'Word Count: 181'),
 ('Name: Justus Niemzok', 'UserID: 8549', 'Word Count: 84'),
 ('Name: Konstantin', 'UserID: 8597', 'Word Count: 197'),
 ('Name: roboallen', 'UserID: 8605', 'Word Count: 274'),
 ('Name: Sai Krishna Gaddam', 'UserID: 8662', 'Word Count: 137'),
 ('Name: sudo rm -rf slash', 'UserID: 8663', 'Word Count: 48'),
 ('Name: ayhan', 'UserID: 8664', 'Word Count: 252'),
 ('Name: servais daligou', 'UserID: 8751', 'Word Count: 141'),
 ('Name: jackStinger', 'UserID: 8830', 'Word Count: 158'),
 ('Name: D.Castro', 'UserID: 8843', 'Word Count: 71'),
 ('Name: Sam', 'UserID: 8848', 'Word Count: 556'),
 ('Name: closedloop', 'UserID: 8849', 'Word Count: 395'),
 ('Name: Rob', 'UserID: 8875', 'Word Count: 60'),
 ('Name: animuson', 'UserID: 8877', 'Word Count: 1'),
 ('Name: BBS', 'UserID: 8895', 'Word Count: 79'),
 ('Name: lbenitesanchez', 'UserID: 8904', 'Word Count: 31'),
 ('Name: Ved', 'UserID: 8923', 'Word Count: 29'),
 ('Name: Yimihua', 'UserID: 8930', 'Word Count: 16'),
 ('Name: MIT student', 'UserID: 8977', 'Word Count: 61'),
 ('Name: Soren Havelund Welling', 'UserID: 8987', 'Word Count: 627'),
 ('Name: cuneytyvz', 'UserID: 8999', 'Word Count: 33'),
 ('Name: bobfet1', 'UserID: 9015', 'Word Count: 122'),
 ('Name: user2757902', 'UserID: 9025', 'Word Count: 198'),
 ('Name: user5184', 'UserID: 9039', 'Word Count: 377'),
 ('Name: Nitin Srivastava', 'UserID: 9061', 'Word Count: 243'),
 ('Name: Dan', 'UserID: 9070', 'Word Count: 568'),
 ('Name: user1830108', 'UserID: 9097', 'Word Count: 77'),
 ('Name: James Endicott', 'UserID: 9182', 'Word Count: 258'),
 ('Name: Alexander', 'UserID: 9219', 'Word Count: 190'),
 ('Name: lpt', 'UserID: 9273', 'Word Count: 233'),
 ('Name: user3848891', 'UserID: 9287', 'Word Count: 80'),
 ('Name: scollins', 'UserID: 9299', 'Word Count: 28'),
 ('Name: Bartłomiej Twardowski', 'UserID: 9314', 'Word Count: 2562'),
 ('Name: JitendraK', 'UserID: 9342', 'Word Count: 73'),
 ('Name: tachycline', 'UserID: 9351', 'Word Count: 29'),
 ('Name: tmangin', 'UserID: 9369', 'Word Count: 103'),
 ('Name: spikedlatte', 'UserID: 9383', 'Word Count: 15'),
 ('Name: Student', 'UserID: 9390', 'Word Count: 933'),
 ('Name: chappers', 'UserID: 9472', 'Word Count: 428'),
 ('Name: Jordan A', 'UserID: 9483', 'Word Count: 1637'),
 ('Name: Jimmys', 'UserID: 9501', 'Word Count: 27'),
 ('Name: Jakub Kotowski', 'UserID: 9508', 'Word Count: 771'),
 ('Name: Max Candocia', 'UserID: 9565', 'Word Count: 742'),
 ('Name: Giorgio Spedicato', 'UserID: 9575', 'Word Count: 165'),
 ('Name: Akuryo', 'UserID: 9608', 'Word Count: 220'),
 ('Name: Demetri Pananos', 'UserID: 9618', 'Word Count: 365'),
 ('Name: itdxer', 'UserID: 9634', 'Word Count: 640'),
 ('Name: poundsignonleft', 'UserID: 9699', 'Word Count: 161'),
 ('Name: ShainaR', 'UserID: 9700', 'Word Count: 581'),
 ('Name: Fernando Garcia', 'UserID: 9714', 'Word Count: 241'),
 ('Name: stochazesthai', 'UserID: 9766', 'Word Count: 271'),
 ('Name: rcpinto', 'UserID: 9814', 'Word Count: 1367'),
 ('Name: David', 'UserID: 9838', 'Word Count: 352'),
 ('Name: John Yetter', 'UserID: 9848', 'Word Count: 56'),
 ('Name: Fabian Werner', 'UserID: 9856', 'Word Count: 2103'),
 ('Name: sds', 'UserID: 9867', 'Word Count: 2496'),
 ('Name: Chris', 'UserID: 9876', 'Word Count: 148'),
 ('Name: Josh W.', 'UserID: 9880', 'Word Count: 828'),
 ('Name: S2L', 'UserID: 9901', 'Word Count: 117'),
 ('Name: DeanLa', 'UserID: 9910', 'Word Count: 225'),
 ('Name: Azrael', 'UserID: 9943', 'Word Count: 1003'),
 ('Name: KalEl', 'UserID: 9946', 'Word Count: 442'),
 ('Name: Abhishek', 'UserID: 9958', 'Word Count: 46'),
 ('Name: DJohnson', 'UserID: 9974', 'Word Count: 1370'),
 ('Name: KMP', 'UserID: 9982', 'Word Count: 71'),
 ('Name: MrFroll', 'UserID: 9992', 'Word Count: 38'),
 ('Name: user2682877', 'UserID: 10074', 'Word Count: 272'),
 ('Name: GKS', 'UserID: 10108', 'Word Count: 354'),
 ('Name: Monty', 'UserID: 10141', 'Word Count: 132'),
 ('Name: Mark', 'UserID: 10150', 'Word Count: 142'),
 ('Name: Dan Miles', 'UserID: 10170', 'Word Count: 199'),
 ('Name: blue-dino', 'UserID: 10171', 'Word Count: 654'),
 ('Name: Dejian', 'UserID: 10201', 'Word Count: 1061'),
 ('Name: spt025', 'UserID: 10210', 'Word Count: 653'),
 ('Name: Digital Dude', 'UserID: 10225', 'Word Count: 106'),
 ('Name: Enrique Pérez Herrero', 'UserID: 10253', 'Word Count: 357'),
 ('Name: Magsol', 'UserID: 10277', 'Word Count: 12'),
 ('Name: Osiris', 'UserID: 10300', 'Word Count: 108'),
 ('Name: 404pio', 'UserID: 10301', 'Word Count: 48'),
 ('Name: Uygar Yologlu', 'UserID: 10335', 'Word Count: 85'),
 ('Name: Matt Sornson', 'UserID: 10415', 'Word Count: 16'),
 ('Name: Niranjan Mudhiraj', 'UserID: 10423', 'Word Count: 181'),
 ('Name: DataDude', 'UserID: 10429', 'Word Count: 222'),
 ('Name: kev', 'UserID: 10436', 'Word Count: 35'),
 ('Name: Übel Yildmar', 'UserID: 10437', 'Word Count: 38'),
 ('Name: Vinay Joshi', 'UserID: 10479', 'Word Count: 490'),
 ('Name: Jabberwockey', 'UserID: 10506', 'Word Count: 533'),
 ('Name: Chris', 'UserID: 10513', 'Word Count: 528'),
 ('Name: kayelow', 'UserID: 10536', 'Word Count: 651'),
 ('Name: toy', 'UserID: 10549', 'Word Count: 243'),
 ('Name: airalcorn2', 'UserID: 10556', 'Word Count: 14'),
 ('Name: AkKoh', 'UserID: 10561', 'Word Count: 130'),
 ('Name: FakeBrain', 'UserID: 10584', 'Word Count: 539'),
 ('Name: Marcin', 'UserID: 10608', 'Word Count: 61'),
 ('Name: nbro', 'UserID: 10640', 'Word Count: 5348'),
 ('Name: 2daaa', 'UserID: 10654', 'Word Count: 72'),
 ('Name: oopcode', 'UserID: 10751', 'Word Count: 298'),
 ('Name: user45668', 'UserID: 10774', 'Word Count: 77'),
 ('Name: Beta', 'UserID: 10810', 'Word Count: 2151'),
 ('Name: LA_', 'UserID: 10811', 'Word Count: 83'),
 ('Name: the3rdNotch', 'UserID: 10832', 'Word Count: 432'),
 ('Name: Segmented', 'UserID: 10836', 'Word Count: 71'),
 ('Name: pitfall', 'UserID: 10865', 'Word Count: 260'),
 ('Name: Volatil3', 'UserID: 10879', 'Word Count: 766'),
 ('Name: Duncan', 'UserID: 10884', 'Word Count: 140'),
 ('Name: Rjz Satvara', 'UserID: 10891', 'Word Count: 49'),
 ('Name: Dr.Fykos', 'UserID: 10894', 'Word Count: 527'),
 ('Name: Santoshi M', 'UserID: 10904', 'Word Count: 1720'),
 ('Name: Mark', 'UserID: 10907', 'Word Count: 1150'),
 ('Name: Ghostintheshell', 'UserID: 10915', 'Word Count: 253'),
 ('Name: emanuele', 'UserID: 10938', 'Word Count: 589'),
 ('Name: Elliott Rogasik', 'UserID: 10949', 'Word Count: 155'),
 ('Name: psql', 'UserID: 10983', 'Word Count: 852'),
 ('Name: Olologin', 'UserID: 10989', 'Word Count: 161'),
 ('Name: Sanjeev', 'UserID: 10992', 'Word Count: 246'),
 ('Name: Lilianna', 'UserID: 10994', 'Word Count: 101'),
 ('Name: Andrea M', 'UserID: 11028', 'Word Count: 183'),
 ('Name: SriniShine', 'UserID: 11063', 'Word Count: 228'),
 ('Name: pythonphobia', 'UserID: 11064', 'Word Count: 65'),
 ('Name: Geims Bond', 'UserID: 11066', 'Word Count: 123'),
 ('Name: user2966197', 'UserID: 11074', 'Word Count: 469'),
 ('Name: Joost', 'UserID: 11114', 'Word Count: 82'),
 ('Name: NBartley', 'UserID: 11136', 'Word Count: 400'),
 ('Name: Michael', 'UserID: 12172', 'Word Count: 422'),
 ('Name: StefanoP', 'UserID: 12184', 'Word Count: 234'),
 ('Name: Jeremy Needle', 'UserID: 12197', 'Word Count: 48'),
 ('Name: Hari', 'UserID: 12207', 'Word Count: 16'),
 ('Name: epx', 'UserID: 12219', 'Word Count: 91'),
 ('Name: Tom Griffin', 'UserID: 12234', 'Word Count: 248'),
 ('Name: Tim Roberson', 'UserID: 12265', 'Word Count: 101'),
 ('Name: Trần Đức Nhuận', 'UserID: 12285', 'Word Count: 59'),
 ('Name: tguzella', 'UserID: 12290', 'Word Count: 299'),
 ('Name: jason.p.pickering', 'UserID: 12316', 'Word Count: 12'),
 ('Name: Marios Mintzis', 'UserID: 12333', 'Word Count: 86'),
 ('Name: Arkan', 'UserID: 12345', 'Word Count: 2845'),
 ('Name: Nachiket', 'UserID: 12351', 'Word Count: 363'),
 ('Name: Ved Gupta', 'UserID: 12356', 'Word Count: 182'),
 ('Name: Josh Brown Kramer', 'UserID: 12438', 'Word Count: 209'),
 ('Name: dave', 'UserID: 12487', 'Word Count: 162'),
 ('Name: tofu_bacon', 'UserID: 12516', 'Word Count: 215'),
 ('Name: Brendan', 'UserID: 12521', 'Word Count: 83'),
 ('Name: Laurent Duval', 'UserID: 12527', 'Word Count: 8435'),
 ('Name: JeeZ', 'UserID: 12569', 'Word Count: 102'),
 ('Name: Derek Janni', 'UserID: 12575', 'Word Count: 2072'),
 ('Name: MASL', 'UserID: 12603', 'Word Count: 1714'),
 ('Name: Tristan Reid', 'UserID: 12626', 'Word Count: 233'),
 ('Name: JohnnyM', 'UserID: 12663', 'Word Count: 738'),

### Question 5 : GRADUATE STUDENTS: Using the users.xml, comments.xml and PostHistory.xml files, produce a single file that includes the following information: DisplayName, Number of Comments, total Score and Number of posts. This file should have the users (DisplayName) sorted by score, descending from higher to lower. (40 points)

We did this question in the following steps:
* First we are reading from all the files teh necessary columns
* Then in order to get them all in one file we are performing join so that the data comes for all the users
* After that we are preprocessing  the data such that we remove the None Values with 0.
* Then we are sorting the file on the basis of the Score.
* Then we are using the package "Pretty Table" to make our data look pretty and nice in the File
* After that we put the data in the file. we made sure its single file output only.


And the output looks like below :<br>
('ID :381',<br>
      'Name :Emre',<br>
         'Total Score :684',<br>
            'Number of Posts :440',<br>
                  'Number of Comments :1246')<br>

In [9]:
import re;
def read_value_from_xml_ret2(Input, tag, cast_type=str):
    patre = r'{col}="([^"]*)"'
    pat = patre.format(col=tag)
    result = re.search(pat, Input)
    return 1 if result is not None else 0

In [13]:
from operator import add
from prettytable import PrettyTable

PostHistoryFile = sc.textFile('PostHistory.xml');
PostHistoryFile = PostHistoryFile.filter(lambda line: line.find('<row') >= 0)

UsersData = sc.textFile('Users.xml');
UsersData = UsersData.filter(lambda line: line.find('<row') >= 0)

CommentsData = sc.textFile('Comments.xml');
CommentsData = CommentsData.filter(lambda line: line.find('<row') >= 0)

#getting UserID and Display Names in one RDD 
print("Getting DisplayName...")
DispNameRDD=Users.map(lambda a: ((read_value_from_xml(a,"Id"),(str(read_value_from_xml(a,"DisplayName"))))))

#getting UserID and Count of  comments per User in RDD
print("Calculating total Number of Comment ...")
AllCommentsCount=CommentsData.map(lambda a: ((read_value_from_xml_ret0(a,"UserId"),((read_value_from_xml_ret2(a,"Text")))))).reduceByKey(add)


#getting UserID and Total Score per User in RDD
print("Calculating total Score of the User...")
AllScoreTotal=CommentsData.map(lambda a: ((read_value_from_xml_ret0(a,"UserId"),(int(read_value_from_xml_ret0(a,"Score")))))).reduceByKey(add)


#getting UserID and Total number of posts per User
print("Calculating total Number of posts...")
AllPostCount=PostHistoryFile.map(lambda a: ((read_value_from_xml_ret0(a,"UserId"),(int(read_value_from_xml_ret2(a,"Text")))))).reduceByKey(add)


#getting all the data in one RDD using Joins
print("Joining all the data as Unstructured data ...")
UnstructuredDataRDD=DispNameRDD.leftOuterJoin(AllCommentsCount).leftOuterJoin(AllScoreTotal).leftOuterJoin(AllPostCount)

#Structuring the data into proper list of tuples.
print ("Structuring the data into proper list of tuples ...")
FinalAllDatawoCaption=UnstructuredDataRDD.map(lambda t:(str(t[0]),(((t[1])[0])[0])[0],(((t[1])[0])[1]),((t[1])[1]),((((t[1])[0])[0])[1])))


#Preprocessing the Data and removing the None Values afer joining
print("Preprocessing the Data and removing the None Values afer joining...")
ewRDD = FinalAllDatawoCaption.map(lambda x: ((0 if x[0] is None else x[0]), (0 if x[1] is None else x[1]),(0 if x[2] is None else x[2]),(0 if x[3] is None else x[3]),(0 if x[4] is None else x[4]))).sortBy(lambda x: (x[2]))

#Sorting RDD in descending format on the basis of each User.
SortedRDD=ewRDD.sortBy(lambda x: (x[2]),ascending=False)

#formatting the RDD into readable format
print("Formatting the RDD...")
FinalAllData=SortedRDD.map(lambda t:("ID :"+str(t[0]),"Name :"+t[1],"Total Score :"+str(t[2]),"Number of Posts :"+str(t[3]),"Number of Comments :"+str(t[4])))
FinalAllData.collect()

#Using pretty table since we are not about to put these to file so that it looks good
x = PrettyTable(["ID", "Name", "Total Score", "Number of Posts", "Number of Comments"])
x.align["Name"] = "l" 
x.align["ID"] = "l" 
x.padding_width = 1 

#Writtin the data to the file 
for i in FinalAllData.take(FinalAllData.count()) :
    x.add_row(i)
with open('Final_output_data.txt', 'w') as f:
    f.write(str(x))

FinalAllData.collect()

Getting DisplayName...
Calculating total Number of Comment ...
Calculating total Score of the User...
Calculating total Number of posts...
Joining all the data as Unstructured data ...
Structuring the data into proper list of tuples ...
Preprocessing the Data and removing the None Values afer joining...
Formatting the RDD...

[('ID :381',
  'Name :Emre',
  'Total Score :684',
  'Number of Posts :440',
  'Number of Comments :1246'),
 ('ID :836',
  'Name :Neil Slater',
  'Total Score :544',
  'Number of Posts :1173',
  'Number of Comments :1199'),
 ('ID :471',
  'Name :Spacedman',
  'Total Score :177',
  'Number of Posts :111',
  'Number of Comments :325'),
 ('ID :28175',
  'Name :Vaalizaadeh',
  'Total Score :170',
  'Number of Posts :1241',
  'Number of Comments :839'),
 ('ID :21',
  'Name :Sean Owen',
  'Total Score :150',
  'Number of Posts :1039',
  'Number of Comments :345'),
 ('ID :8820',
  'Name :Martin Thoma',
  'Total Score :132',
  'Number of Posts :629',
  'Number of Comments :277'),
 ('ID :35644',
  'Name :Aditya',
  'Total Score :123',
  'Number of Posts :221',
  'Number of Comments :627'),
 ('ID :924',
  'Name :Anony-Mousse',
  'Total Score :117',
  'Number of Posts :447',
  'Number of Comments :463'),
 ('ID :23305',
  'Name :oW_',
  'Total Score :101',
  'Number of Posts :421',
  'Number of Comments :255'),
 ('ID :11097',
  'Name :Dawny33',
  'Total Score :95',
  'Number of Posts :688',
  'Number of Comments :285'),
 ('ID :29587',
  'Name :JahKnows',
  'Total Score :74',
  'Number of Posts :270',
  'Number of Comments :350'),
 ('ID :45264',
  'Name :n1k31t4',
  'Total Score :73',
  'Number of Posts :590',
  'Number of Comments :365'),
 ('ID :2452',
  'Name :Aleksandr Blekh',
  'Total Score :68',
  'Number of Posts :166',
  'Number of Comments :159'),
 ('ID :16853',
  'Name :Ricardo Cruz',
  'Total Score :68',
  'Number of Posts :118',
  'Number of Comments :132'),
 ('ID :14904',
  'Name :Jan van der Vegt',
  'Total Score :66',
  'Number of Posts :266',
  'Number of Comments :197'),
 ('ID :8878',
  'Name :Kasra Manshaei',
  'Total Score :66',
  'Number of Posts :281',
  'Number of Comments :171'),
 ('ID :55122',
  'Name :Ben Reiniger',
  'Total Score :59',
  'Number of Posts :176',
  'Number of Comments :215'),
 ('ID :71442',
  'Name :Peter',
  'Total Score :55',
  'Number of Posts :233',
  'Number of Comments :248'),
 ('ID :44456',
  'Name :TwinPenguins',
  'Total Score :54',
  'Number of Posts :164',
  'Number of Comments :188'),
 ('ID :9420',
  'Name :AN6U5',
  'Total Score :53',
  'Number of Posts :147',
  'Number of Comments :118'),
 ('ID :9123',
  'Name :SmallChess',
  'Total Score :52',
  'Number of Posts :154',
  'Number of Comments :151'),
 ('ID :8005',
  'Name :Paul',
  'Total Score :52',
  'Number of Posts :13',
  'Number of Comments :56'),
 ('ID :40853',
  'Name :Toros91',
  'Total Score :51',
  'Number of Posts :326',
  'Number of Comments :284'),
 ('ID :676',
  'Name :stmax',
  'Total Score :49',
  'Number of Posts :47',
  'Number of Comments :91'),
 ('ID :1279',
  'Name :ffriend',
  'Total Score :49',
  'Number of Posts :37',
  'Number of Comments :79'),
 ('ID :67328',
  'Name :Esmailian',
  'Total Score :48',
  'Number of Posts :861',
  'Number of Comments :170'),
 ('ID :33202',
  'Name :kbrose',
  'Total Score :42',
  'Number of Posts :42',
  'Number of Comments :152'),
 ('ID :29575',
  'Name :Stephen Rauch',
  'Total Score :40',
  'Number of Posts :1806',
  'Number of Comments :82'),
 ('ID :44139',
  'Name :Ankit Seth',
  'Total Score :40',
  'Number of Posts :79',
  'Number of Comments :120'),
 ('ID :23240',
  'Name :I_Play_With_Data',
  'Total Score :39',
  'Number of Posts :220',
  'Number of Comments :156'),
 ('ID :52291',
  'Name :Simon Larsson',
  'Total Score :35',
  'Number of Posts :323',
  'Number of Comments :120'),
 ('ID :322',
  'Name :Air',
  'Total Score :35',
  'Number of Posts :48',
  'Number of Comments :38'),
 ('ID :2885',
  'Name :Dougal',
  'Total Score :35',
  'Number of Posts :0',
  'Number of Comments :3'),
 ('ID :26562',
  'Name :timleathart',
  'Total Score :35',
  'Number of Posts :241',
  'Number of Comments :79'),
 ('ID :34269',
  'Name :Djib2011',
  'Total Score :35',
  'Number of Posts :103',
  'Number of Comments :56'),
 ('ID :6550',
  'Name :Valentas',
  'Total Score :34',
  'Number of Posts :48',
  'Number of Comments :75'),
 ('ID :13748',
  'Name :Mephy',
  'Total Score :33',
  'Number of Posts :67',
  'Number of Comments :50'),
 ('ID :26394',
  'Name :Kiritee Gak',
  'Total Score :32',
  'Number of Posts :99',
  'Number of Comments :101'),
 ('ID :27250',
  'Name :horaceT',
  'Total Score :32',
  'Number of Posts :34',
  'Number of Comments :67'),
 ('ID :19161',
  'Name :Hobbes',
  'Total Score :32',
  'Number of Posts :54',
  'Number of Comments :96'),
 ('ID :59085',
  'Name :user2974951',
  'Total Score :31',
  'Number of Posts :17',
  'Number of Comments :91'),
 ('ID :201',
  'Name :Tasos',
  'Total Score :31',
  'Number of Posts :285',
  'Number of Comments :78'),
 ('ID :156',
  'Name :Marco13',
  'Total Score :31',
  'Number of Posts :10',
  'Number of Comments :12'),
 ('ID :45507',
  'Name :Elias Strehle',
  'Total Score :30',
  'Number of Posts :96',
  'Number of Comments :66'),
 ('ID :13727',
  'Name :DaL',
  'Total Score :30',
  'Number of Posts :116',
  'Number of Comments :96'),
 ('ID :92',
  'Name :cwharland',
  'Total Score :29',
  'Number of Posts :9',
  'Number of Comments :19'),
 ('ID :8560',
  'Name :D.W.',
  'Total Score :29',
  'Number of Posts :134',
  'Number of Comments :163'),
 ('ID :51714',
  'Name :ignatius',
  'Total Score :29',
  'Number of Posts :116',
  'Number of Comments :116'),
 ('ID :14675',
  'Name :ncasas',
  'Total Score :28',
  'Number of Posts :178',
  'Number of Comments :88'),
 ('ID :13012',
  'Name :Matthew Drury',
  'Total Score :27',
  'Number of Posts :0',
  'Number of Comments :28'),
 ('ID :7980',
  'Name :image_doctor',
  'Total Score :26',
  'Number of Posts :35',
  'Number of Comments :93'),
 ('ID :515',
  'Name :Dirk Eddelbuettel',
  'Total Score :26',
  'Number of Posts :3',
  'Number of Comments :9'),
 ('ID :14006',
  'Name :user12075',
  'Total Score :26',
  'Number of Posts :74',
  'Number of Comments :70'),
 ('ID :57453',
  'Name :keiv.fly',
  'Total Score :26',
  'Number of Posts :61',
  'Number of Comments :79'),
 ('ID :71219',
  'Name :aranglol',
  'Total Score :26',
  'Number of Posts :90',
  'Number of Comments :95'),
 ('ID :4683',
  'Name :David Marx',
  'Total Score :26',
  'Number of Posts :138',
  'Number of Comments :74'),
 ('ID :50727',
  'Name :David Masip',
  'Total Score :25',
  'Number of Posts :225',
  'Number of Comments :141'),
 ('ID :84',
  'Name :Rubens',
  'Total Score :24',
  'Number of Posts :173',
  'Number of Comments :44'),
 ('ID :45374',
  'Name :bradS',
  'Total Score :24',
  'Number of Posts :111',
  'Number of Comments :72'),
 ('ID :64377',
  'Name :Erwan',
  'Total Score :24',
  'Number of Posts :128',
  'Number of Comments :184'),
 ('ID :70066',
  'Name :Pedro Henrique Monforte',
  'Total Score :23',
  'Number of Posts :76',
  'Number of Comments :89'),
 ('ID :17208',
  'Name :debzsud',
  'Total Score :22',
  'Number of Posts :64',
  'Number of Comments :42'),
 ('ID :3466',
  'Name :sheldonkreger',
  'Total Score :22',
  'Number of Posts :52',
  'Number of Comments :48'),
 ('ID :62',
  'Name :asheeshr',
  'Total Score :21',
  'Number of Posts :15',
  'Number of Comments :11'),
 ('ID :15828',
  'Name :Imran',
  'Total Score :21',
  'Number of Posts :130',
  'Number of Comments :82'),
 ('ID :12473',
  'Name :jamesmf',
  'Total Score :21',
  'Number of Posts :97',
  'Number of Comments :80'),
 ('ID :18626',
  'Name :Constantinos',
  'Total Score :21',
  'Number of Posts :48',
  'Number of Comments :61'),
 ('ID :27432',
  'Name :S van Balen',
  'Total Score :21',
  'Number of Posts :56',
  'Number of Comments :94'),
 ('ID :40345',
  'Name :C.Lee',
  'Total Score :20',
  'Number of Posts :0',
  'Number of Comments :1'),
 ('ID :33194',
  'Name :xiaohan2012',
  'Total Score :20',
  'Number of Posts :12',
  'Number of Comments :1'),
 ('ID :53479',
  'Name :mapto',
  'Total Score :20',
  'Number of Posts :67',
  'Number of Comments :108'),
 ('ID :15527',
  'Name :K3---rnc',
  'Total Score :20',
  'Number of Posts :77',
  'Number of Comments :78'),
 ('ID :843',
  'Name :Franck Dernoncourt',
  'Total Score :19',
  'Number of Posts :197',
  'Number of Comments :44'),
 ('ID :1156',
  'Name :shadowtalker',
  'Total Score :19',
  'Number of Posts :34',
  'Number of Comments :73'),
 ('ID :43077',
  'Name :Kari',
  'Total Score :19',
  'Number of Posts :560',
  'Number of Comments :100'),
 ('ID :947',
  'Name :David',
  'Total Score :18',
  'Number of Posts :10',
  'Number of Comments :21'),
 ('ID :13413',
  'Name :Kyle.',
  'Total Score :18',
  'Number of Posts :187',
  'Number of Comments :47'),
 ('ID :108',
  'Name :rapaio',
  'Total Score :18',
  'Number of Posts :79',
  'Number of Comments :23'),
 ('ID :10372',
  'Name :gented',
  'Total Score :17',
  'Number of Posts :10',
  'Number of Comments :33'),
 ('ID :216',
  'Name :ojdo',
  'Total Score :17',
  'Number of Posts :0',
  'Number of Comments :2'),
 ('ID :14578',
  'Name :David Dao',
  'Total Score :17',
  'Number of Posts :2',
  'Number of Comments :1'),
 ('ID :18843',
  'Name :Robert de Graaf',
  'Total Score :17',
  'Number of Posts :50',
  'Number of Comments :23'),
 ('ID :15412',
  'Name :Nain',
  'Total Score :17',
  'Number of Posts :113',
  'Number of Comments :76'),
 ('ID :32440',
  'Name :Adrian Keister',
  'Total Score :17',
  'Number of Posts :34',
  'Number of Comments :61'),
 ('ID :71218',
  'Name :Juan Esteban de la Calle',
  'Total Score :17',
  'Number of Posts :236',
  'Number of Comments :67'),
 ('ID :25157',
  'Name :Eskapp',
  'Total Score :17',
  'Number of Posts :38',
  'Number of Comments :22'),
 ('ID :16220',
  'Name :Jon',
  'Total Score :16',
  'Number of Posts :14',
  'Number of Comments :41'),
 ('ID :33603',
  'Name :Dan Carter',
  'Total Score :16',
  'Number of Posts :41',
  'Number of Comments :34'),
 ('ID :23159',
  'Name :Skiddles',
  'Total Score :16',
  'Number of Posts :86',
  'Number of Comments :56'),
 ('ID :1330',
  'Name :Brian Spiering',
  'Total Score :16',
  'Number of Posts :400',
  'Number of Comments :73'),
 ('ID :434',
  'Name :Steve Kallestad',
  'Total Score :16',
  'Number of Posts :67',
  'Number of Comments :23'),
 ('ID :52089',
  'Name :pcko1',
  'Total Score :16',
  'Number of Posts :186',
  'Number of Comments :89'),
 ('ID :68023',
  'Name :Shubham Panchal',
  'Total Score :15',
  'Number of Posts :66',
  'Number of Comments :98'),
 ('ID :173',
  'Name :Wojciech Walczak',
  'Total Score :15',
  'Number of Posts :22',
  'Number of Comments :20'),
 ('ID :964',
  'Name :bogatron',
  'Total Score :15',
  'Number of Posts :28',
  'Number of Comments :32'),
 ('ID :21608',
  'Name :Himanshu Rai',
  'Total Score :15',
  'Number of Posts :64',
  'Number of Comments :63'),
 ('ID :598',
  'Name :stanekam',
  'Total Score :15',
  'Number of Posts :0',
  'Number of Comments :2'),
 ('ID :38083',
  'Name :louic',
  'Total Score :15',
  'Number of Posts :13',
  'Number of Comments :16'),
 ('ID :47832',
  'Name :DuttaA',
  'Total Score :15',
  'Number of Posts :82',
  'Number of Comments :141'),
 ('ID :67412',
  'Name :georg-un',
  'Total Score :15',
  'Number of Posts :78',
  'Number of Comments :33'),
 ('ID :15533',
  'Name :Monica Heddneck',
  'Total Score :15',
  'Number of Posts :44',
  'Number of Comments :25'),
 ('ID :2513',
  'Name :DSea',
  'Total Score :15',
  'Number of Posts :2',
  'Number of Comments :2'),
 ('ID :12384',
  'Name :Stereo',
  'Total Score :14',
  'Number of Posts :75',
  'Number of Comments :68'),
 ('ID :8752',
  'Name :n1tk',
  'Total Score :14',
  'Number of Posts :46',
  'Number of Comments :35'),
 ('ID :65131',
  'Name :Leevo',
  'Total Score :14',
  'Number of Posts :149',
  'Number of Comments :87'),
 ('ID :609',
  'Name :MrMeritology',
  'Total Score :14',
  'Number of Posts :47',
  'Number of Comments :35'),
 ('ID :14913',
  'Name :TBSRounder',
  'Total Score :14',
  'Number of Posts :25',
  'Number of Comments :44'),
 ('ID :41886',
  'Name :tom',
  'Total Score :14',
  'Number of Posts :46',
  'Number of Comments :35'),
 ('ID :227',
  'Name :Amir Ali Akbari',
  'Total Score :13',
  'Number of Posts :15',
  'Number of Comments :20'),
 ('ID :6478',
  'Name :Brandon Loudermilk',
  'Total Score :13',
  'Number of Posts :99',
  'Number of Comments :41'),
 ('ID :847',
  'Name :Nitesh',
  'Total Score :13',
  'Number of Posts :95',
  'Number of Comments :53'),
 ('ID :41771',
  'Name :Shamit Verma',
  'Total Score :13',
  'Number of Posts :118',
  'Number of Comments :123'),
 ('ID :54395',
  'Name :BrunoGL',
  'Total Score :13',
  'Number of Posts :89',
  'Number of Comments :76'),
 ('ID :8041',
  'Name :j.a.gartner',
  'Total Score :13',
  'Number of Posts :40',
  'Number of Comments :23'),
 ('ID :70822',
  'Name :Nelson',
  'Total Score :13',
  'Number of Posts :0',
  'Number of Comments :1'),
 ('ID :21232',
  'Name :Mohammad Athar',
  'Total Score :13',
  'Number of Posts :23',
  'Number of Comments :22'),
 ('ID :42044',
  'Name :Andy M',
  'Total Score :13',
  'Number of Posts :20',
  'Number of Comments :23'),
 ('ID :17696',
  'Name :Bashar Haddad',
  'Total Score :13',
  'Number of Posts :83',
  'Number of Comments :38'),
 ('ID :32697',
  'Name :redhqs',
  'Total Score :13',
  'Number of Posts :22',
  'Number of Comments :28'),
 ('ID :37184',
  'Name :Nuclear Wang',
  'Total Score :13',
  'Number of Posts :18',
  'Number of Comments :21'),
 ('ID :21825',
  'Name :Manu H',
  'Total Score :13',
  'Number of Posts :12',
  'Number of Comments :20'),
 ('ID :10814',
  'Name :Edmund',
  'Total Score :13',
  'Number of Posts :62',
  'Number of Comments :59'),
 ('ID :41525',
  'Name :Louis T',
  'Total Score :12',
  'Number of Posts :57',
  'Number of Comments :65'),
 ('ID :30212',
  'Name :CalZ',
  'Total Score :12',
  'Number of Posts :91',
  'Number of Comments :72'),
 ('ID :14588',
  'Name :knb',
  'Total Score :12',
  'Number of Posts :78',
  'Number of Comments :37'),
 ('ID :14',
  'Name :Tim Goodman',
  'Total Score :12',
  'Number of Posts :19',
  'Number of Comments :21'),
 ('ID :27983',
  'Name :yoav_aaa',
  'Total Score :12',
  'Number of Posts :71',
  'Number of Comments :46'),
 ('ID :50833',
  'Name :Mark.F',
  'Total Score :12',
  'Number of Posts :99',
  'Number of Comments :53'),
 ('ID :13023',
  'Name :wacax',
  'Total Score :12',
  'Number of Posts :147',
  'Number of Comments :49'),
 ('ID :65776',
  'Name :ranit.b',
  'Total Score :12',
  'Number of Posts :62',
  'Number of Comments :37'),
 ('ID :45166',
  'Name :TitoOrt',
  'Total Score :11',
  'Number of Posts :46',
  'Number of Comments :22'),
 ('ID :74421',
  'Name :Fatemeh Asgarinejad',
  'Total Score :11',
  'Number of Posts :204',
  'Number of Comments :77'),
 ('ID :69670',
  'Name :MachineLearner',
  'Total Score :11',
  'Number of Posts :78',
  'Number of Comments :35'),
 ('ID :548',
  'Name :indico',
  'Total Score :11',
  'Number of Posts :28',
  'Number of Comments :17'),
 ('ID :7848',
  'Name :Vladislavs Dovgalecs',
  'Total Score :11',
  'Number of Posts :24',
  'Number of Comments :41'),
 ('ID :24000',
  'Name :tuomastik',
  'Total Score :11',
  'Number of Posts :140',
  'Number of Comments :23'),
 ('ID :18703',
  'Name :Upper_Case',
  'Total Score :11',
  'Number of Posts :12',
  'Number of Comments :23'),
 ('ID :52719',
  'Name :The Lyrist',
  'Total Score :11',
  'Number of Posts :55',
  'Number of Comments :47'),
 ('ID :29217',
  'Name :El Burro',
  'Total Score :11',
  'Number of Posts :56',
  'Number of Comments :56'),
 ('ID :11148',
  'Name :Stas S',
  'Total Score :11',
  'Number of Posts :0',
  'Number of Comments :1'),
 ('ID :36977',
  'Name :Michael M',
  'Total Score :11',
  'Number of Posts :12',
  'Number of Comments :35'),
 ('ID :57416',
  'Name :Jérémy Blain',
  'Total Score :10',
  'Number of Posts :17',
  'Number of Comments :29'),
 ('ID :65767',
  'Name :Dan Scally',
  'Total Score :10',
  'Number of Posts :57',
  'Number of Comments :38'),
 ('ID :44039',
  'Name :Fadi Bakoura',
  'Total Score :10',
  'Number of Posts :39',
  'Number of Comments :44'),
 ('ID :9483',
  'Name :Jordan A',
  'Total Score :10',
  'Number of Posts :10',
  'Number of Comments :4'),
 ('ID :13686',
  'Name :wabbit',
  'Total Score :10',
  'Number of Posts :57',
  'Number of Comments :26'),
 ('ID :78801',
  'Name :leftaroundabout',
  'Total Score :10',
  'Number of Posts :0',
  'Number of Comments :1'),
 ('ID :23204',
  'Name :hssay',
  'Total Score :10',
  'Number of Posts :61',
  'Number of Comments :35'),
 ('ID :24',
  'Name :buruzaemon',
  'Total Score :10',
  'Number of Posts :11',
  'Number of Comments :4'),
 ('ID :115',
  'Name :Johnny000',
  'Total Score :10',
  'Number of Posts :13',
  'Number of Comments :8'),
 ('ID :53357',
  'Name :bkshi',
  'Total Score :10',
  'Number of Posts :102',
  'Number of Comments :40'),
 ('ID :2576',
  'Name :Pablo Suau',
  'Total Score :9',
  'Number of Posts :48',
  'Number of Comments :43'),
 ('ID :44996',
  'Name :steffen',
  'Total Score :9',
  'Number of Posts :0',
  'Number of Comments :1'),
 ('ID :44114',
  'Name :mico',
  'Total Score :9',
  'Number of Posts :33',
  'Number of Comments :21'),
 ('ID :8501',
  'Name :smci',
  'Total Score :9',
  'Number of Posts :59',
  'Number of Comments :56'),
 ('ID :12363',
  'Name :Adam Bittlingmayer',
  'Total Score :9',
  'Number of Posts :42',
  'Number of Comments :23'),
 ('ID :16024',
  'Name :yazhi',
  'Total Score :9',
  'Number of Posts :66',
  'Number of Comments :43'),
 ('ID :64760',
  'Name :Alex L',
  'Total Score :9',
  'Number of Posts :25',
  'Number of Comments :24'),
 ('ID :24412',
  'Name :Reii Nakano',
  'Total Score :9',
  'Number of Posts :7',
  'Number of Comments :2'),
 ('ID :33812',
  'Name :Pieter21',
  'Total Score :9',
  'Number of Posts :37',
  'Number of Comments :19'),
 ('ID :53812',
  'Name :Antonio Jurić',
  'Total Score :9',
  'Number of Posts :75',
  'Number of Comments :55'),
 ('ID :7720',
  'Name :Mike Wise',
  'Total Score :9',
  'Number of Posts :16',
  'Number of Comments :13'),
 ('ID :2511',
  'Name :Keith',
  'Total Score :9',
  'Number of Posts :18',
  'Number of Comments :21'),
 ('ID :75',
  'Name :Shagun Sodhani',
  'Total Score :9',
  'Number of Posts :53',
  'Number of Comments :42'),
 ('ID :2968',
  'Name :tagoma',
  'Total Score :9',
  'Number of Posts :7',
  'Number of Comments :37'),
 ('ID :34',
  'Name :Vass',
  'Total Score :9',
  'Number of Posts :7',
  'Number of Comments :1'),
 ('ID :25104',
  'Name :Laurens Meeus',
  'Total Score :9',
  'Number of Posts :16',
  'Number of Comments :18'),
 ('ID :1077',
  'Name :Pete',
  'Total Score :9',
  'Number of Posts :37',
  'Number of Comments :18'),
 ('ID :23294',
  'Name :Demonedge',
  'Total Score :9',
  'Number of Posts :0',
  'Number of Comments :1'),
 ('ID :6391',
  'Name :TheGrimmScientist',
  'Total Score :9',
  'Number of Posts :16',
  'Number of Comments :11'),
 ('ID :20492',
  'Name :MaxU',
  'Total Score :9',
  'Number of Posts :52',
  'Number of Comments :38'),
 ('ID :38892',
  'Name :Siong Thye Goh',
  'Total Score :9',
  'Number of Posts :254',
  'Number of Comments :43'),
 ('ID :34028',
  'Name :i.n.n.m',
  'Total Score :9',
  'Number of Posts :40',
  'Number of Comments :26'),
 ('ID :14560',
  'Name :Philip C. ',
  'Total Score :8',
  'Number of Posts :26',
  'Number of Comments :27'),
 ('ID :18999',
  'Name :Curious',
  'Total Score :8',
  'Number of Posts :0',
  'Number of Comments :1'),
 ('ID :2932',
  'Name :Thomas Cleberg',
  'Total Score :8',
  'Number of Posts :86',
  'Number of Comments :34'),
 ('ID :55055',
  'Name :SaltySub2',
  'Total Score :8',
  'Number of Posts :0',
  'Number of Comments :4'),
 ('ID :289',
  'Name :Piotr Migdal',
  'Total Score :8',
  'Number of Posts :15',
  'Number of Comments :15'),
 ('ID :869',
  'Name :Slater Victoroff',
  'Total Score :8',
  'Number of Posts :0',
  'Number of Comments :12'),
 ('ID :26243',
  'Name :feynman410',
  'Total Score :8',
  'Number of Posts :79',
  'Number of Comments :20'),
 ('ID :28628',
  'Name :Icyblade',
  'Total Score :8',